{% extends "layout.html" %}

{% block title %}Not Found - 404 - Express Server-Render Starter{% endblock %}
{% block description %}Not Found - 404 - Express Server-Render Starter{% endblock %}

{% block content %}
<section class="max-w-md mx-auto mt-10 pt-10 container">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4">
    <h2 class="text-xl mb-8">The page you've requested could not be found</h2>
    <p class="mb-4">You requested a page that doesn't exist.</p>
    <p class="mb-4"><a class="text-blue-500 hover:text-blue-700 underline" href="/">Go Back</a></p>
  </div>
</section>
{% endblock %}
