{% extends "layout.html" %}

{% block title %}Internal Server Error - Express Server-Render Starter{% endblock %}
{% block description %}Internal Server Error - Express Server-Render Starter{% endblock %}

{% block content %}
<section class="max-w-md mx-auto mt-10 pt-10 container">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4">
    <h2 class="text-xl mb-8">Whoops!</h2>
    <p class="mb-4">Something happened and your request could not be serviced at this time.</p>
    <p class="mb-4">Try again later or report the issue at <a class="text-blue-500 hover:text-blue-700 underline" href="/about">&lt;some-url&gt;</a></p>
  </div>
</section>
{% endblock %}
