<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Express Server-Render Starter{% endblock %}</title>
  <meta name="description" content="{% block description %}Starter project with Express Server-Render Starter{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# <link rel="manifest" href="site.webmanifest"> #}
  <link rel="apple-touch-icon" href="icon.png">

  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <nav class="w-full max-w-xl mx-auto">
    <ul class="flex">
      <li class="mr-6 py-4">
        <a class="text-blue-500 hover:text-blue-800" href="/">Home</a>
      </li>
      <li class="mr-6 py-4">
        <a class="text-blue-500 hover:text-blue-800" href="/login">Login</a>
      </li>
    </ul>
  </nav>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% block content %}{% endblock %}
</body>

</html>
